
/* CONTACTO */
#contact {
    width: 100%;
    margin: 0 auto;
  }

  #contact > span {
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
  
  h2 {
    font-family: var(--title-font);
    color: var(--fiveth-color);
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
  }

  /* *{
    border: 1px solID gold;
  }
   */
  #contact-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    color: var(--fiveth-color);
    font-weight: 800;
    font-family: var(--title-font);
  }
  
  #contact-form > label{
    width: 100%;
    text-align: center;
  }

  input[type = "submit"]{
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
  

  /* CONTACTO */