@media (max-width: 768px) {
  /* dropdowncart */
  .navbar-container {
    display: none;
  }

  .nav-links {
    display: none;
    background-color: #333;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  #dropdown-cart {
    width: 100%;
    padding: 5px;
  }

  #movie-add-buttons > span {
    text-align: center;
  }

  #menu-toggle{
    display: flex;
    
  }

  #menu_mobile{
    width: 100%;
  }

  /* dropdowncart */

  /* general styles */

  /* general styles */
}

@media (max-width: 568px){

  /* hero */

  #movie-gallery-poster {
    width: 150px;
    height: 200px;
  }
  /* hero */
h2{
font-size: 2em;
}

#contact-form {
  margin: 0 auto;
  width: 80%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  color: var(--fiveth-color);
  font-weight: 800;
  font-family: var(--title-font);
}

}

@media (max-width: 368px){
   /* hero */

   #movie-gallery-poster {
    width: 130px;
    height: 180px;
  }
  /* hero */

  #movie{
    width: 120px;
  }

  /* CART */
  #dropdown-cart{
    padding: 2px;
  }
  /* CART */
h2{
    font-size: 1.5em;
}
}